@import "@fontsource/zen-dots/latin.css";
@import "@fontsource/manrope/latin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-header: "Zen Dots", sans-serif;
    --font-body: "Manrope", sans-serif;
  }
  html {
    font-size: 18px;
  }
}

@layer base {
  :root {
    --background: 48 100% 96.1%; /* hsl(48 100% 96.1%) */
    --foreground: 45.9 5% 10%; /* hsl(45.9, 5%, 10%) */
    --card: 45.9 50% 90%; /* hsl(45.9, 50%, 90%) */
    --card-foreground: 45.9 5% 15%; /* hsl(45.9, 5%, 15%) */
    --popover: 45.9 100% 95%; /* hsl(45.9, 100%, 95%) */
    --popover-foreground: 45.9 100% 10%; /* hsl(45.9, 100%, 10%) */
    --primary: 0 72.2% 50.6%; /* hsl(0, 72.2%, 50.6%) */
    --primary-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --secondary: 45.9 30% 70%; /* hsl(45.9, 30%, 70%) */
    --secondary-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --muted: 54.5 91.7% 95.3%; /* hsl(54.5 91.7% 95.3%) */
    --muted-foreground: 215.3 19.3% 34.5%; /* hsl(215.3 19.3% 34.5%) */
    --accent: 7.9 30% 80%; /* hsl(7.9, 30%, 80%) */
    --accent-foreground: 45.9 5% 15%; /* hsl(45.9, 5%, 15%) */
    --destructive: 0 100% 30%; /* hsl(0, 100%, 30%) */
    --destructive-foreground: 45.9 5% 90%; /* hsl(45.9, 5%, 90%) */
    --border: 45.9 30% 50%; /* hsl(45.9, 30%, 50%) */
    --input: 45.9 30% 26%; /* hsl(45.9, 30%, 26%) */
    --ring: 45.9 96.7% 64.5%; /* hsl(45.9, 96.7%, 64.5%) */
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
}

@layer components {
  .font-header {
    font-family: var(--font-header);
  }
  .input-number-hide-arrows::-webkit-outer-spin-button,
  .input-number-hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-number-hide-arrows {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
